<div class="main">
  <div class="sign-up group">
    <form class="sign-up-form" action="<%= users_url %>" method="post">
      <h1>Sign up</h1>

      <input
      type="text"
      name="user[username]"
      placeholder="Username">

      <input
      type="password"
      name="user[password]"
      placeholder="Password">

      <button>Sign Up For Kelp</button>
      <div class="user-link">
        <%= link_to "Already have an account? Sign in here.", new_session_url %>
      </div>
    </form>
    <div class="sign-up-content">
      <img src="http://www.herbalremediesinfo.com/images/kelp.jpg"/>
    </div>
  </div>
</div>
