<div class="main">
  <div class="sign-up group">
    <form class="sign-up-form" action="<%= users_url %>" method="post">
      <h1>Sign up</h1>
      <label>Username:
        <input
        type="text"
        name="user[username]">
      </label>

      <br>

      <label>Password:
        <input
        type="password"
        name="user[password]">
      </label>

      <br>

      <button>Sign Up For Kelp</button>
    </form>
    <div class="sign-up-content">
      Blah!
    </div>
  </div>
</div>
