/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome/css/font-awesome
 */

 /* RESET */
 body, div, ul, li, article, h1, h2, h3, input, a, p, textarea {
   margin: 0px;
   border: 0px;
   padding: 0px;

   text-decoration: none;
   list-style: none;
   background: transparent;
   font: inherit;
   box-sizing: inherit;
   font-family: inherit;
 }

body {
  background-color: #eee;
  font-family: helvetica;
}

/* ALL BUTTONS */
button {
  display: block;
  padding: 5px 20px;
  font-size: 12px;
  background-color: #68829E;
  margin: auto;
  color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button:hover {
  background-color: #505160;
}

/* CLEAR FIX */

.group:after {
  display: block;
  content: "";
  clear: both;
}



/*Header*/

.header {
  background-color: #68829E;
  display: block;
  box-shadow: 0px 1px 2px black;
  position: relative;
 }

 .header-nav {
   width: 900px;
   margin: auto;
   position: relative;
   height: 70px;
 }

.header-logo {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 36px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
 }

.header-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
 }

.header-buttons > a {
  display: block;
  text-align: center;
  padding: 5px 20px;
  font-size: 12px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 5px 0px;
  color: white;
 }

 .header-buttons > a:hover {
   background-color: #505160;
 }

 .demo-form {
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateY(-50%) translateX(-50%);
 }

 /* MAIN */

 .main {
   box-sizing: border-box;
   width: 900px;
   min-height: 500px;
   margin: auto;
   background-color: white;
   padding: 20px;
   border: 1px solid #ccc;
 }
/* SIGN IN / SIGN OUT*/

.sign-up {
  display: block;
  margin: auto;
  text-align: center;
}

.sign-up-form {
  display: block;
  float: left;
  width: 50%;
  padding: 70px;
  box-sizing: border-box;
}

.sign-up-form > h1 {
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #68829E;
  font-weight: bold;
}

.sign-up-form > input {
  display: block;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10px auto;
}

.sign-up-form > button {
  margin-top: 20px;
  width: 178px;
  height: 30px;
  border: 1px solid #ccc;
}

.user-link {
  font-size: 12px;
  padding: 20px;
  text-align: center;
}

.sign-up-content {
  float: left;
  width: 50%;
  text-align: center;
}

/* PROFILE */
.profile-reviews {
  float: left;
  width: 70%;
  border-right: 1px solid #ccc;
}
.profile-info {
  float: left;
  width: 30%;
}

/* TAB */
.tab-bar {
  border-bottom: 1px solid #ccc;

}

.tab {
  float: right;
  padding: 10px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-top-left-radius: 5px;
  box-sizing: border-box;

}

.tab-unselected {
  border-bottom: 1px solid #ccc;
}


/* REVIEWS-FORM */

.unstarred {
  background-color: white;
}

.review-form {
  padding: 15px 20px 15px 20px;
  margin: 15px 20px 15px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #68829E;
  opacity: 0.75;
  box-sizing: content-box;
}

.review-form-body {
  font-size: 14px;
  box-sizing: border-box;
  background: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px 5px;
  margin: 10px 0px;
  width: 100%;
}

.expanded {
  height: 100px;
}

.review-form-button {
  display: none;
}

.review-form-body:focus + .review-form-button {
  display: block;
}

/* REVIEWS-INDEX */

.reviews-index {
  margin-top: 10px;
  padding-right: 20px;
}

.reviews-index-item {
  padding: 15px 20px 15px 20px;
  border-bottom: 1px solid #ccc;
}

.review-author {
  display: block;
  float: left;
}

.review-date {
  display: block;
  float: right;
  font-size: 12px;
}

.review-stars {
  margin: 5px 0px;
}

.review-body {
  font-size: 14px;
  margin-bottom: 5px;
}
