.businesses-index {
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  width: 33.333%;
}

.business-index-item {
  height: 90px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.business-index-item-image {
  width: 70px;
  height: 70px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.business-index-item-info {
  position: absolute;
  top: 10px;
  left: 100px;
}


.business-index-item-info h2 {
  padding-bottom: 5px;
}

.business-index-item-stars {
  padding-bottom: 5px;
}
