.business {
  background: white;
  display: block;
}

.business-header {
  height: 300px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.business-content {
  margin: auto;
  padding: 110px 20px;
}

.business-review-form {
  margin: auto;
}

.business-header-name {
  display: block;
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 36px;
  font-weight: bold;
  font: helvetica;
  max-width: 450px;
}

.business-header-button {
  top: 28px;
  position: absolute;
  right: 55px;
  transform: translateX(-50%) translateY(5%);


  display: block;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: bold;
  background-color: #68829E;
  margin: auto;
  color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.business-header-button-image {
  top: 34px;
  position: absolute;
  right: -30px;
  transform: translateX(-50%) translateY(5%);


  display: block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  margin: auto;
  color: #68829E;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.fa-camera {
  padding-right: 5px;
}

.business-header-button:hover {
  background-color: #505160;
  cursor: pointer;
}

.business-header-button-image:hover {
  background-color: #eee;
  cursor: pointer;
}



.default-image:hover {
  cursor: pointer;
}


.business-thumbs {
  right: 20px;
  width: 500px;
  height: 25px;
  top: 92%;
  transform: translateY(-66.666%);
  position: absolute;
}

.business-thumb {
  float: left;
  width: 185px;
  height: 20px;
  display: block;
  position: relative;
}

.business-thumb-image {
  /*width: 180px;*/
  min-height: 160px;
  min-width: 120px;
  max-height: 200px;
  max-width: 180px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.hovering-thumb {
  min-height: 210px;
  min-width: 160px;
  max-height: 250px;
  max-width: 200px;
  z-index: 1;
}
.button-star {
  padding-right: 10px;
  font-size: 16px;
}

.new-image-icon {
  position: absolute;
}

.single-business-map > .map{
  width: 280px;
  height: 300px;
  border-radius: 5px;
}
.single-business-map {
  width: 280px;
  height: 300px;
  position: absolute;
  bottom: 0px;
  transform: translateY(33.3%);
  left: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
