.business {
  background: white;
  display: block;
}

.business-header {
  height: 260px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.business-content {
  margin: auto;
  padding: 90px 20px;
}

.business-review-form {
  margin: auto;
}

.business-header-name {
  display: block;
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 36px;
  font-weight: bold;
  font: helvetica;
}

.business-header-button {
  display: block;
  margin: auto;
  top: 20px;
  position: absolute;
  right: -40px;
  transform: translateX(-50%) translateY(5%);


  display: block;
  padding: 10px 50px;
  font-size: 14px;
  font-weight: bold;
  background-color: #68829E;
  margin: auto;
  color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.business-header-button:hover {
  background-color: #505160;
  cursor: pointer;
}

.business-thumb-image {
  /*width: 180px;*/
  width: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.business-thumb-image:hover {
  cursor: pointer;
}

.hovering-thumb {
  width: 230px;
  z-index: 1;
}

.business-thumb {
  float: left;
  width: 190px;
  height: 180px;
  position: relative;
}

.business-thumbs {
  right: 20px;
  /*transform: translateX(-50%);*/
  top: 140px;
  position: absolute;
}
