.business {
  background: white;
  display: block;
}

.business-header {
  height: 300px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.business-content {
  margin: auto;
  padding: 90px 20px;
}

.business-review-form {
  margin: auto;
}

.business-header-name {
  display: block;
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 36px;
  font-weight: bold;
  font: helvetica;
}

.business-header-button {
  display: block;
  margin: auto;
  top: 20px;
  position: absolute;
  right: -40px;
  transform: translateX(-50%) translateY(5%);


  display: block;
  padding: 10px 50px;
  font-size: 14px;
  font-weight: bold;
  background-color: #68829E;
  margin: auto;
  color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.business-header-button:hover {
  background-color: #505160;
  cursor: pointer;
}

.business-thumb-image {
  /*width: 180px;*/
  min-height: 180px;
  min-width: 140px;
  max-height: 220px;
  max-width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.business-thumb-image:hover {
  cursor: pointer;
}

.hovering-thumb {
  min-height: 230px;
  min-width: 180px;
  max-height: 270px;
  max-width: 220px;
  z-index: 1;
}

.business-thumb {
  float: left;
  display: block;
  position: relative;
  box-sizing: content-box;
  padding: 2px;
}

.business-thumbs {
  right: 20px;
  top: 100%;
  transform: translateY(-66.666%);
  position: absolute;
}
