.profile-info {
  padding: 20px 0px 20px 20px;
  position: relative;
}

.profile-info > .my-button {
  text-align: center;
  margin-top: 20px;
}

.profile-picture {
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-username {
  position: absolute;
  top: 70px;
  left: 140px;
  max-width: 100px;
  transform: translateY(-50%);
  font-weight: bold;
  color: #68829E;
}

.profile-info > .fa-cog {
  position: absolute;
  left: 25px;
  top: 25px;
  color: #eee;
}

.profile-info .fa-cog:hover {
  cursor: pointer;
  font-size: 20px;
}
