<div class="header">
  <nav class="group header-nav">
    <h1 class="header-logo">
      kelp
    </h1>
    <% if logged_in? %>
      <div class="header-buttons">
          <%=link_to "Sign Out", session_url, method: :delete %>
      </div>
    <% else %>
      <div class="demo-form">
        <form action="<%= session_url %>" method="post">
          <input type="hidden" name="user[username]" value="Demo">
          <input type="hidden" name="user[password]" value="Password">
          <button class="demo-button">Demo</button>
        </form>
      </div>
      <div class="header-buttons">
        <%= link_to "Sign Up", new_user_url %>
        <%= link_to "Sign In", new_session_url %>
      </div>

    <% end %>
  </nav>
</div>
